<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../public/partials/head %>
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <h1>
                <span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/recipe_lists/recipe_guest" class="btn btn-default btn-sm">Recipe List</a>

        </div>

    
            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-primary">
                        <span class="fa fa-facebook"></span> Facebook</h3>
                    <% if (user.facebook.token) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user.facebook.id %>
                                <br>
                                <strong>token</strong>:
                                <%= user.facebook.token %>
                                    <br>
                                    <strong>email</strong>:
                                    <%= user.facebook.email %>
                                        <br>
                                        <strong>name</strong>:
                                        <%= user.facebook.name %>
                        </p>
                        <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                        <% } else { %>
                            <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                            <% } %>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-danger">
                        <span class="fa fa-google-plus"></span> Google</h3>
                    <% if (user.google.token) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user.google.id %>
                                <br>
                                <strong>token</strong>:
                                <%= user.google.token %>
                                    <br>
                                    <strong>email</strong>:
                                    <%= user.google.email %>
                                        <br>
                                        <strong>name</strong>:
                                        <%= user.google.name %>
                        </p>
                        <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                        <% } else { %>
                            <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                            <% } %>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-primary">
                        <span class="fa fa-instagram"></span> Instagram</h3>
                    <% if (user.instagram.token) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user.instagram.id %>
                                <br>
                                <strong>username</strong>:
                                <%= user.instagram.token %>
                                    <br>
                                    <strong>fullName</strong>:
                                    <%= user.instagram.displayName %>
                                        <br>
                                        <strong>profilePic</strong>:
                                        <%= user.instagram.username %>
                        </p>
                        <a href="/unlink/instagram" class="btn btn-success">Unlink</a>
                        <% } else { %>
                            <a href="/connect/instagram" class="btn btn-success">Connect Instagram</a>
                            <% } %>
                </div>

            </div>
        </div>
</body>

</html>